*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}

/*header******************************************************/
.header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 197, 251, 0.3) 0%, rgba(0, 90, 234, 0.3) 100%);/*
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;*/
}

.video-fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
 }

 .video-fondo iframe{
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.inicio{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.icono-menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navegacion{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.desplazamiento-menu{
    transform: translate(0);
}

.saludo{
    font-weight: 300;
    font-size: 25px;
}

.frase{
    font-weight: 300;
    font-size: 25px;
}

.titulo{
    font-size: 60px;
}

/*about*******************************************************/
.about{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #005bea;
    margin-bottom: 40px;
    font-size: 40px;
}

/*projects****************************************************/
.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.3s 0.2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/*footer******************************************************/
footer{
    background: #00c6fb;
    padding-bottom: 0.1px;
}

.base{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contacto{
    width: 40%;
    color: #fff;
}

.marca{
    font-weight: 500;
    font-size: 40px;
}

.marca+p{
    font-weight: 500;
}

.redes-sociales{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.redes-sociales a{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.redes-sociales a:hover{
    background: #fff;
    color: #005bea;
}

.redes-sociales i{
    font-size: 30px;
    line-height: 60px;
}

.linea{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*responsive 800**********************************************/
@media screen and (max-width:800px) {
    .menu-navegacion{
        width: 50vw
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor{
        width: 80%;
        margin-bottom: 40px;
    }
    /*
    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-expert{
        width: 80%;
    }
    */
    .base{
        justify-content: center;
    }

    .redes-sociales{
        width: 80%;
        justify-content: space-evenly;
    }

    .redes-sociales a{
        margin-left: 0;
    }

    .redes-sociales i{
        margin-left: 0;
    }

    .contact0{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

/*responsive 500**********************************************/
@media screen and (max-width:500px) {
    .icono-menu{
        top: 20px;
        right: 20px;
    }

    .menu-navegacion{
        width: 65vw;
    }

    .titulo{
        font-size: 30px;
    }
    /*
    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }*/

    .contacto{
        width: 90%;
    }

    .redes-sociales{
        width: 100%;
    }
}

