* {margin: 0;   padding: 0;   box-sizing: border-box;}
:root {scroll-behavior: smooth;}
body {font-family: 'Open Sans', Helvetica, sans-serif;}
.contenedor{width: 100vw;   overflow: hidden;   margin: auto;}

/*--HEADER------------------------------------------------------------------------*/
header{
    background-image: linear-gradient(to top, rgba(0, 197, 251, 0.2) 0%, rgba(0, 90, 234, 0.2) 100%);
    height: 100vh;
    width: 100%;
    padding: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 30px;
}

.video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
 }

 .video-fondo iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 header p{
     max-width: 390px;
 }
 
 header img{
     position: absolute;
     top: 30px;
     left: 17px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}


 /*--SocialMedia-------------------------------------------------------------------*/
 .social-media{
    position: fixed;
    width: 70px;
    top: 100px;
    left: 21px;
 }

.social-media-icon{
    display: inline-block;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    color: #000;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.social-media-icon i{
    font-size: 30px;
    line-height: 40px;
}

.social-media-icon:hover{
    background: #000;
    color: #fff;
}


/*--Menu--------------------------------------------------------------------------*/
.icono-menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.menu a{
    color: #fff;
    text-decoration: none;
}

.despalzamiento-menu{
    transform: translate(0);
}

/*--MAIN--------------------------------------------------------------------------*/
/*--Descripcion-------------------------------------------------------------------*/
#id-descripcion{
    background: white;
    width: 100%;
    padding-inline: 50px;
    padding-block: 30px;
    margin: auto;
}

h2{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}

.descripcion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.descripcion p{
    padding-bottom: 20px;
}

.descripcion img{
    width: 35%;
    border-radius: 50%;
    padding-bottom: 30px;
}

.articulos{
    width: 45%;
}

/*--Galeria-----------------------------------------------------------------------*/
#id-proyectos{
    background: white;
    width: 100%;
    padding-inline: 50px;
    padding-block: 30px;
    margin: auto;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.2s ease-in-out;
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.3s 0.2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/*--FOOTER------------------------------------------------------------------------*/
footer{
    background: #00c6fb;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
}

footer h2{
    text-align: left;
    padding-left: 70px;
}

footer p{
    padding-left: 70px;
    padding-bottom: 30px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@media screen and (max-width:800px) {
    .menu{
        width: 50vw
    }

    .descripcion img{
        width: 55%;
    }
    
    .articulos{
        width: 85%;
    }

    .imagen-galeria{
        width: 45%;
    }
}

@media screen and (max-width:500px) {
    .menu{
        width: 65vw
    }

    header{
        font-size: 20px;
    }

    .descripcion img{
        width: 65%;
    }
    
    .articulos{
        width: 85%;
    }

    .imagen-galeria{
        width: 90%;
    }

    .agregar-imagen{
        width: 95%;
    }
}